---
title: Lorem post 2
---

<h1>
What is Lorem Ipsum?
</h1>

  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book </p>

<p>This is an interactive code snippet that you can run</p>

  <script type="text/notebook-cell">
console.log("Hello World!");
</script>

  <h2>So what if I want to execute a function?</h2>

  <p>You can also do that with Blog-cells as you can see below</p>

 <p>
<script type="text/notebook-cell">export function hello() {
  console.log("Hello World, from a function!");
}
hello();    
</script>
</p>
