---
title: Welcome to my Blog
---

<h1>
  Read my blogposts below
</h1>


<%= link_to(
  "Read Article 1",
  "/articles/article1.html",
) %>


<%= link_to(
  "Read Article 2",
  "/articles/article2.html",
) %>
